
body{
    background-color: blue;
}
li {
    display: inline;
}
    li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: black;
}
ul {
    background-color: red;
}
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: red;
}

li a:hover {
    background-color: black;
        color: red;
}
    .active {
    background-color: #4CAF50;
}
   
li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}
h1 {
    text-align: center;
}

